{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'MailClient | Inbox' %}
{% set contentId = 'Inbox' %}

{% block pageContent %}
    <a id="logout" href="logout" title="Logout">Logout</a>

    <h1>Inbox ({{ nrMails }})</h1>
    <div id="paging">
        <p>
        {% if currentPage != 1 %}
        <a href="1">First</a>
        <a href="{{ currentPage - 1 }}">Previous</a>    
        {% endif %}
        {{ currentPage }} ({{ mailsPerPage * (currentPage - 1) + 1}} - {{ mailsPerPage * currentPage }})
        {% if currentPage != nrPages %}
        <a href="{{ currentPage + 1 }}">Next</a>    
        <a href="{{ nrPages }}">Last</a>
        {% endif %}
        </p>   
    </div>
    <ul id="mails">
        <li>
            <ul id="header">
                <li class="from">From</li>
                <li class="subject">Subject</li>
                <li class="received">Received</li>
            </ul>
        </li>
    {% for mail in mails %}
        <li>
            <ul class="mail">
                <li class="from">{{ mail.from }}</li>
                <li class="subject">{{ mail.subject }}</li>
                <li class="received">{{ mail.date|date("m/d/Y H:i", "Europe/Paris") }}</li>
            </ul>
        </li>
    {% endfor %}
    <ul>
{% endblock %}